html {
    background: grey;
}

#creatures {
    border-bottom: solid 2px #4169e1;
    padding-bottom: 10%;
}

#creatures img {
    float: left;
    margin: 1% 4.5%;
    height: 5%;
    width: 7%;
}

#creatures li {
    margin: 5% 0 0 5%;
    list-style: none;
    font-size: large;
    font-weight: bold;

}

#humanoid img {
    float: left;
    margin: 1% 4.5%;
    height: 5%;
    width: 7%;
}

#humanoid li {
    margin: 10% 0 0 5%;
    list-style: none;
    font-size: large;
    font-weight: bold;
}




/*Header style*/
header {
    background-color: #800000;
    border: 2px solid #000000;
    border-radius: 5px;
    height: 150px;
    text-align: center;
    font-size: x-large;
}

header h1 {
    text-align: center;
    /* color: #ff0000; */
    text-emphasis: bold;
}

/*Main styles*/
main p {
    flex-wrap: wrap;
    padding: 0 8em 0 8em;
}

main h2 {
    text-align: center;
    color: #800000;
}

/*Nav menu*/

#nav_menu ul {
    list-style-type: none;
    text-align: center;
    font-size: 150%;
    margin: 0 5% 0 5%;
    width: 100%;

}

#nav_menu ul li {
    display: inline-flex;
    padding: 0 1.5em;
    width: 20%;

}

#nav_menu ul li a {
    display: inline-flex;
    padding: .5em 0 .5em 1.5em;
    text-decoration: none;
}

#nav_menu a:link {
    color: royalblue;
}

#nav_menu a:visited {
    color: purple;
}

#nav_menu a:hover,
a:focus {
    font-style: none;
}

/*styles for footer*/
footer p {
    text-align: center;
}

footer a {
    font-size: xx-large;
    margin-left: 3em;
}



@media only screen and (min-width: 550px) and (max-width: 796px) {
    #creatures img {
        width: 25%;
        height: 100%;
    }

    #humanoid img {
        width: 25%;
        height: 100%;
    }

}



/* This was a test for columns and I wasnt sure where to put comlumns in my main page */

/* main {
    columns: 2;
    column-width: auto;
    column-gap: 35px;
    column-rule: 3px solid purple;
    font-size: xx-large;
    color: red;


}

#move ul {
    display: flex;
    list-style-type: none;
    position: relative;

} */