* {
    padding: 0;
    margin: 0;
}

#nav_menu {
    grid-area: head;
}

/*page specific header*/
header {
    background-color: rgba(255, 215, 0);

}

/*body styles*/
body {
    background-color: #808080;
    width: 100%;
    height: 100%;
}

h2 {

    font-size: 200%;
    text-align: center;
}

/*grid layout*/

#grid {
    display: grid;
    height: 100%;
    grid-template-columns: 400px 1fr 1fr;
    grid-template-rows: 80px 1fr 1fr 60px;
    gap: 1px 1px;
    grid-template-areas:
        "gun gun melee melee"
        "gun gun melee melee"
        "legend legend legend legend"
        "foot foot foot foot";

}

#gun {
    width: 75%;
    float: left;
    text-align: center;
    grid-area: gun;


}

#gun ul li {
    list-style-type: none;
}

#melee {
    width: 75%;
    float: right;
    text-align: center;
    grid-area: melee;
}

#melee ul li {
    list-style-type: none;
}

#legend {
    width: 100%;
    justify-self: center;
    text-align: center;
    grid-area: legend;
}

#legend ul li {
    list-style-type: none;
}

footer {
    grid-area: foot;
}

/*list styles*/
ul li {
    font-size: 125%;
    padding-left: 5%;
    color: #53163e;
}

p {
    text-align: center;
}

/*id and class elements*/

#legend h2 {
    color: rgba(255, 68, 0, 0.649);
    margin-right: 5%;
}

#legend p {
    word-wrap: normal;
    margin-right: 20%;
}

#legend ul li {

    margin-right: 10%;
    justify-content: left;
}


/*media query*/
@media only screen and (min-width: 480px) and (max-width: 796px) {
    #legend img {
        min-width: 20%;
        min-height: 25%;

    }

    #gun img {
        width: 20%;
        height: 20%;
    }

    #melee img {
        width: 20%;
        height: 20%;
    }

}