* {
    padding: 0;
    margin: 0;
}

#nav_menu {
    grid-area: head;
}

/*page specific header*/
header {
    background-color: rgba(255, 215, 0);
    
}

/*body styles*/
body {
    background-color: #808080;
    width: 100%;
    height: 100%;
}

h2 {

    font-size: 200%;
    text-align: center;
}

/*grid layout*/

#grid {
    display: grid;
    height: 100%;
    grid-template-columns: 400px 1fr 1fr;
    grid-template-rows: 80px 1fr 1fr 60px;
    gap: 100px;
    width: 90%;
    margin: 10%;

}

#gun {
    width: 45%;    
    float: left;   
    text-align: center;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
   

}
#gun ul li{
    list-style-type: none;
}

#melee {
    width: 45%;  
    float: right;
    text-align: center;
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    }

#melee ul li{
    list-style-type: none;
}

#legend {
    width: 100%;   
    justify-self: center;
    text-align: center;
    grid-row: 3 / 4;
    grid-column: 1 / 4;    
}

#legend ul li{
    list-style-type: none;
}

footer {
    grid-row: 4 / 5;
    grid-column: 1 / 4;
}

/*list styles*/
ul li {
    font-size: 125%;
    padding-left: 5%;
    color: #53163e;
}

p {
    text-align: center;
}

/*id and class elements*/

#legend h2 {
    color: rgba(255, 68, 0, 0.649);
    margin-right: 5%;
}

#legend p{
    word-wrap: normal;
    margin-right: 20%;
}
#legend ul li{
    
    margin-right: 10%;
    justify-content: left;
}